{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Image</h1>
   </div>
</div>

<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
                  <div class="panel-heading">
                    Latest
                    <div class="pull-right">
                      <a id="snap" title="Click to snap a picture" href="#">Snap</a>
                    </div>
                </div>
                <div id="picture-panel" class="panel-body">
			<a href="/save/latest.jpg"><img id="picture" src=/save/latest.jpg width="100%"></a>
                </div>
	</div>
</div>

{% endblock %}

{% block myjavascript %}
<script type="text/javascript">
function reload()
{
  img = document.getElementById("picture");
  img.src="/save/latest.jpg?time=" + (new Date()).getTime();
  //img.src="/save/20151011_194548.jpg?time=" + (new Date()).getTime();
}


 $(document).ready(function(){
   log.log("Finished loading page");

 });

$('#snap').click(
  function(){
    log.log("  - Someone clicked to snap a picture!");

    url = "/api/snap";
   
    var target = document.getElementById('picture-panel');
    var spinner = new Spinner(getSpinnerOptsSmall()).spin(target);


    var snapRes = $.getJSON(url, function( data ) { log.log("Got it: " + data['msg']); log.log("Reloading image"); reload(); log.log("reloaded"); spinner.stop()}); 
    return false;
  });

function getSpinnerOptsSmall(){

  opts = {
    lines: 9, // The number of lines to draw
    length: 6, // The length of each line
    width: 6, // The line thickness
    radius: 13, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };

  return opts;
}


</script>
{% endblock %}

