{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Hardware settings</h1>
   </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
                   <div class="panel-heading">
                    Camera
                  </div>
                  <div id="panel" class="panel-body">
                     <pre>{{ camera }}</pre>
                  </div>
               </div>
	</div>
</div>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Time-lapse</h1>
   </div>
</div>

<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
          <div class="panel-heading">Time-lapse settings</div>
          <div class="panel-body">
            <div class="row">
               <div class="col-lg-6">
                  <form role="form" action="/config" method="POST">
                     <label>Actions</label>
                     <input type="hidden" name="action" value="thumbnails">
                     <input type="submit" value="Generate thumbnails" class="btn btn-success btn-block">
                  </form>
               </div>
               <div class="col-lg-6">

                  <form role="form" action="/config" method="POST">
                     <div class="form-group">
                       <label>Interval (seconds between shots)</label>
                       <input type="hidden" name="action" value="timelapse">
                       <select class="form-control" name="interval" placeholder="Interval">
                         <option>Off</option>
                         <option value=10>10 seconds</option>
                         <option value=20>20 seconds</option>
                         <option value=30>30 seconds</option>
                         <option value=60>60 seconds</option>
                         <option value=120>120 seconds</option>
                         <option value=180>180 seconds - 3 minutes</option>
                         <option value=240>240 seconds - 4 minutes</option>
                         <option value=300>300 seconds - 5 minutes</option>
                         <option value=360>360 seconds - 6 minutes</option>
                         <option value=600>600 seconds - 10 minutes</option>
                         <option value=1200>1200 seconds - 20 minutes</option>
                         <option value=1800>1800 seconds - 30 minutes</option>
                         <option value=3600>3600 seconds - 60 minutes</option>
                       </select>
                     </div>
                     <input type="submit" value="Set crontab" class="btn btn-success btn-block">
                  </form>

                </div>

              </div>
          </div>
       </div>
   </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Crontab
      </div>
    <div id="panel" class="panel-body">
      {% if crontab %}
        <pre>{{ crontab }}</pre>
      {% else %}
        No crontab configured!
      {% endif %}
    </div>
  </div>
<div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Process queue
      </div>
    <div id="panel" class="panel-body">
      {% if processes %}
        <pre>{{ processes }}</pre>
      {% else %}
        No processes in the queue!
      {% endif %}
    </div>
  </div>
<div>

{% if readme %}
<div class="row">
    <div class="col-lg-12">
        {{ readme|raw }}
    </div>
</div>
{% endif %}

{% endblock %}

{% block myjavascript %}
{% endblock %}

