{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Image</h1>
   </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
                  <div class="panel-heading">
                    Images
                </div>
                <div id="picture-panel" class="panel-body">

<div class="row show-grid">

{% for file in files %}
  <div class="col-md-3 col-lg-2"><a href="/save/{{file}}"><img width="100%" src=/save/thumbs/thumb.{{file}}></a><br>{{ file }}</div>
{% endfor %}
</div>
                </div>
	</div>
</div>

{% endblock %}

{% block myjavascript %}
{% endblock %}

