*/XXX_DIVIDER_XXX * * * * b=/home/pi/piSnapper/bin ; st=XXX_SLEEP_TIME_XXX ; sleep $st ; $b/snap >> /var/log/piSnapper.log 2>&1 ; [ $st -eq 0 ] && $b/genThumbnails > /dev/null 2>&1 # XXX_PISNAPPER_CRON_XXX
